---
- name: Autostart running VMs
  community.libvirt.virt:
    name: "{{item}}"
    autostart: yes
  when:
    - nodes.list_vms is defined
    - action == 'stop'
    - autostart | default(false)
    - virt_info[item]['state'] == 'running'
  with_items: "{{nodes.list_vms}}"

- name: Start VMs
  community.libvirt.virt:
    name: "{{item}}"
    command: start
  when:
    - nodes.list_vms is defined
    - action == 'start'
    - virt_info[item]['state'] != 'running'
  with_items: "{{nodes.list_vms}}"

- name: Stop VMs
  community.libvirt.virt:
    name: "{{ item }}"
    state: shutdown
  when:
    - nodes.list_vms is defined
    - action == 'stop'
    - virt_info[item]['state'] == 'running'
  with_items: "{{nodes.list_vms}}"

- name: Wait for VMs to stop
  ansible.builtin.wait_for:
    host: "{{ item }}"
    port: 22
    state: stopped
  when:
    - nodes.list_vms is defined
    - action == 'stop'
    - virt_info[item]['state'] == 'running'
  with_items: "{{nodes.list_vms}}"
  delegate_to: 127.0.0.1

- name: Sleep
  ansible.builtin.pause:
    seconds: 60
